body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050505;
  color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #739072;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  padding: 13px 32px 12px;
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  font-weight: 300;
  outline: none;
  color: #739072;
  border-radius: 20rem;
  border: none;
}